@model ColourCoded.UI.Areas.Orders.Models.ResponseModels.OrderCustomerModel

@{
    ViewData["Title"] = "ConfirmCustomerOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmCustomerOrder</h2>

