
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Almost there...</h3>
<br />
<ol>
  <li>Order Detail - Complete</li>
  <li>Add Customer Detail [Optional]</li>
  <li>Add Delivery Address Detail [Optional]</li>
  <li>Add Company Detail [Optional]</li>
  <li><a href='@Url.Action("OrderSummary", "Orders")'>View Order Summary</a></li>
</ol>