
@{
  ViewData["Title"] = "OrderQuotation";
  Layout = null;
}

<style>
  #main {
    top:40px;
    width: 880px;
    height: 1000px;
    border: 1px solid;
  }

  #footer {
    width: 880px;
    height: 200px;
    border: 1px solid;
  }

  #companyprofile {
    position: absolute;
    left: 20px;
    top: 10px;
    height: 250px;
    width: 400px;
    display: inline-block;
    border: 1px solid;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #ordersummary {
    height: 250px;
    width: 430px;
    display: inline-block;
  }
</style>

@*width 595 pixels x 842 length*@
<div id="main">
  <div id="companyprofile">
    <h3>RUGAYA MIA CATERING CC.</h3>
    43 Stamen Street<br />
    Retreat<br />
    Cape Town<br />
    South Africa<br />
    7945<br /><br />
    Tel: 021 712 5588<br />
    Cell: 074 884 1122<br />
    Email: gayamia@hotmail.com
  </div>
</div>
<br />
<div id="footer">
  1234124134
</div>