@model ColourCoded.UI.Areas.Security.Models.Login.AuthenticateViewModel;

@{
  ViewData["Title"] = "ChangePassword";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  input[type=button] {
    width: 150px;
  }

  label {
    width: 150px;
  }

  .link-small {
    font-size: 11px;
    cursor: pointer;
  }

  .validationLabel {
    color: red;
    width: 150px;
    font-size: 11px;
  }
</style>

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Authenticate", FormMethod.Post, new { id = "changePasswordForm" }))
{
  <label for="username">Username: </label>
  <input id="username" name="username" type="text" onkeypress="return false;" value="@Model.Username" /><br /><br />

  <label for="oldPassword">Current Password: </label>
  <input type="password" id="oldPassword" name="currentPassword" /><a class="show-oldPassword link-small" href="">Show password</a>
  <label id="validoldPassword" class="validationLabel"></label>
  <br /><br />

  <label for="newPassword">New Password: </label>
  <input type="password" id="newPassword" name="newPassword" /><a class="show-newPassword link-small" href="">Show password</a>
  <label id="validnewPassword" class="validationLabel"></label>
  <br /><br />

  <label for="confirmPassword">Confirm password: </label>
  <input type="password"  id="confirmPassword" name="confirmPassword" /><a class="show-confirmPassword link-small" href="">Show password</a>
  <label id="validconfirmPassword" class="validationLabel"></label>
  <br /><br />

  <input type="button" id="changePassword" value="Change Password" />
  <input type="button" id="cancel" value="Cancel" />
  <span class="validationLabel">@Html.DisplayFor(m => Model.ErrorMessage, new { @class = "validationLabel" })</span>

  @Html.AntiForgeryToken();
}

@section Scripts
  {
  <script>
    $(document).ready(function () {

      $('input[type=password]').keyup(function () {
        var controlName = $(this).attr("name");
        var validationLabel = 'valid' + controlName;
        document.getElementById(validationLabel).innerHTML = "";
        $(this).removeClass();
      });

      $('input[type=password]').change(function () {
        var length = $(this).val().length;
        var controlName = $(this).attr("name");
        var label = 'valid' + controlName;

        if (length < 6) {
          $(this).addClass("alert-danger");
          document.getElementById(label).innerHTML = "Minimum length 6 characters";
        }

      });
    });

    $('.show-oldPassword').click(function (event) {
      event.preventDefault();
      if ($('#oldPassword').attr('type') === 'password') {
        $('#oldPassword').attr('type', 'text');
        $('.show-oldPassword').text('Hide password');
      } else {
        $('#oldPassword').attr('type', 'password');
        $('.show-oldPassword').text('Show password');
      }
    });

    $('.show-newPassword').click(function (event) {
      event.preventDefault();
      if ($('#newPassword').attr('type') === 'password') {
        $('#newPassword').attr('type', 'text');
        $('.show-newPassword').text('Hide password');
      } else {
        $('#newPassword').attr('type', 'password');
        $('.show-newPassword').text('Show password');
      }
    });

    $('.show-confirmPassword').click(function (event) {
      event.preventDefault();
      if ($('#confirmPassword').attr('type') === 'password') {
        $('#confirmPassword').attr('type', 'text');
        $('.show-confirmPassword').text('Hide password');
      } else {
        $('#confirmPassword').attr('type', 'password');
        $('.show-confirmPassword').text('Show password');
      }
    });

    $('#cancel').click(function () {
      window.location.href = '@Url.Action("Index", "Home", new { area="Home", username=Model.Username})';
    });

    $("#changePassword").click(function () {
      if (validForm()) {
        $("#changePasswordForm").submit();
      }
    });

    function validForm() {
      var isValid = true;

      if ($("#oldPassword").val().length === 0) {
        $("#oldPassword").attr("placeholder", "Required");
        $("#oldPassword").addClass("alert-danger");
        isValid = false;
      }

      if ($("#newPassword").val().length === 0) {
        $("#newPassword").attr("placeholder", "Required");
        $("#newPassword").addClass("alert-danger");
        isValid = false;
      }

      if ($("#confirmPassword").val().length === 0) {
        $("#confirmPassword").attr("placeholder", "Required");
        $("#confirmPassword").addClass("alert-danger");
        isValid = false;
      }

      if ($("#confirmPassword").val() != $("#newPassword").val()) {

        $("#confirmPassword").attr("placeholder", "Required");
        $("#newPassword").attr("placeholder", "Required");
        $("#confirmPassword").addClass("alert-danger");
        $("#newPassword").addClass("alert-danger");

        $("#validnewPassword").text("Passwords must match.");

        isValid = false;
      }

      return isValid;
    }
  </script>
}