@model ColourCoded.UI.Areas.Security.Models.Login.AuthenticateViewModel;

@{
  ViewData["Title"] = "ChangePassword";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

  #main div {
    padding: 3px;
  }

  #main div span {
    font-size: 11px;
  }

  span button {
    height: 29px;
    width: 30px;
    padding: 6px 1px !important;
  }

</style>

<div class="row">
  <div class="col-md-3">
    <h4 class="page-header-sm">
      Update User Profile
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div id="main">

      @using (Html.BeginForm("ChangePassword", "Authenticate", FormMethod.Post, new { id = "changePasswordForm" }))
      {
        <div>
          <span>Username</span><br />
          <input id="username" name="username" onkeypress="return false;" onkeyup="return false;" type="text" class="form-control-normal" value="@Model.Username" />
        </div>
        <div>
          <span>Old Password</span>
        </div>
        <div style="white-space: nowrap;">
          <input id="oldPassword" name="oldPassword" placeholder="Old Password" type="password" class="form-control-normal" style="display: inline-block;" />
          <span class="input-group-btn" style="display: inline-block;">
            <button class="btn btn-default btnshow-oldPassword" type="button" tabindex="-200">
              <i class="fa fa-eye show-oldPassword"></i>
            </button>
          </span>
        </div>
        <div>
          <span>New Password</span>
        </div>
        <div style="white-space: nowrap;">
          <input id="newPassword" name="newPassword" placeholder="New Password" type="password" class="form-control-normal"  style="display: inline-block;" />
          <span class="input-group-btn" style="display: inline-block;">
            <button class="btn btn-default btnshow-newPassword" type="button" tabindex="-200">
              <i class="fa fa-eye show-newPassword"></i>
            </button>
          </span>
        </div>
        <div>
          <span>Confirm Password</span>
        </div>
        <div style="white-space: nowrap;">
          <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" type="password" class="form-control-normal"  style="display: inline-block;" />
          <span class="input-group-btn" style="display: inline-block;">
            <button class="btn btn-default btnshow-confirmPassword" type="button" tabindex="-200">
              <i class="fa fa-eye show-confirmPassword"></i>
            </button>
          </span>
        </div>
        <div>
          <span>First Name</span><br />
          <input id="firstName" name="firstName" placeholder="First Name" type="text" class="form-control-normal" />
        </div>
        <div>
          <span>Last Name</span><br />
          <input id="lastName" name="lastName" placeholder="Surname" type="text" class="form-control-normal" />
        </div>
        <div>
          <span>Email Address</span><br />
          <input id="emailAddress" name="emailAddress" placeholder="Email Address" type="text" class="form-control-normal" />
        </div>
        <div>
          <br />
          <input type="button" id="saveprofile" value="Save User Profile" class="btn btn-success" />
          <input type="button" value="Cancel" class="btn btn-default" data-toggle="modal" data-target="#ConfirmModal" />
        </div>
      }
    </div>
  </div>
</div>

<!-- Saved Successful Popup -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:280px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeconfirm">&times;</button>
        <h4 class="modal-title" id="ConfirmModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">Password changed successfully.</div>
      <div class="modal-footer">
        <button type="button" class="btn-normal-thin btn-primary" id="accept">Return Home</button>
        <button type="button" class="btn-normal-thin btn-default" id="downloadorder">Close</button>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
<script>
  $(document).ready(function () {

    $('.btnshow-oldPassword').click(function (event) {
      $('.show-oldPassword').click();
    });

    $('.btnshow-newPassword').click(function (event) {
      $('.show-newPassword').click();
    });

    $('.btnshow-confirmPassword').click(function (event) {
      $('.show-confirmPassword').click();
    });

    $('.show-oldPassword').click(function (event) {
      if ($('#oldPassword').attr('type') === 'password') {
        $('#oldPassword').attr('type', 'text');
        $(this).removeClass('fa fa-eye');
        $(this).addClass('fa fa-eye-slash');
      } else {
        $('#oldPassword').attr('type', 'password');
        $(this).removeClass('fa fa-eye-slash');
        $(this).addClass('fa fa-eye');
      }
      return false;
    });

    $('.show-newPassword').click(function (event) {
      if ($('#newPassword').attr('type') === 'password') {
        $('#newPassword').attr('type', 'text');
        $(this).removeClass('fa fa-eye');
        $(this).addClass('fa fa-eye-slash');
      } else {
        $('#newPassword').attr('type', 'password');
        $(this).removeClass('fa fa-eye-slash');
        $(this).addClass('fa fa-eye');
      }
      return false;
    });

    $('.show-confirmPassword').click(function (event) {
      if ($('#confirmPassword').attr('type') === 'password') {
        $('#confirmPassword').attr('type', 'text');
        $(this).removeClass('fa fa-eye');
        $(this).addClass('fa fa-eye-slash');
      } else {
        $('#confirmPassword').attr('type', 'password');
        $(this).removeClass('fa fa-eye-slash');
        $(this).addClass('fa fa-eye');
      }
      return false;
    });

    $('#cancel').click(function () {
      window.location.href = '@Url.Action("Index", "Orders", new { area="Orders", username=Model.Username})';
    });

    $("#changePassword").click(function () {
      if (validForm()) {
        $("#changePasswordForm").submit();
      }
    });

    function validForm() {
      var isValid = true;

      if ($("#oldPassword").val().length === 0) {
        $("#oldPassword").attr("placeholder", "Required");
        $("#oldPassword").addClass("alert-danger");
        isValid = false;
      }

      if ($("#newPassword").val().length === 0) {
        $("#newPassword").attr("placeholder", "Required");
        $("#newPassword").addClass("alert-danger");
        isValid = false;
      }

      if ($("#confirmPassword").val().length === 0) {
        $("#confirmPassword").attr("placeholder", "Required");
        $("#confirmPassword").addClass("alert-danger");
        isValid = false;
      }

      if ($("#confirmPassword").val() != $("#newPassword").val()) {

        $("#confirmPassword").attr("placeholder", "Required");
        $("#newPassword").attr("placeholder", "Required");
        $("#confirmPassword").addClass("alert-danger");
        $("#newPassword").addClass("alert-danger");

        $("#validnewPassword").text("Passwords must match.");

        isValid = false;
      }

      return isValid;
    }

  });
</script>
}