@model ColourCoded.UI.Areas.Security.Models.Login.AuthenticateViewModel;

@{
  ViewData["Title"] = "ForgottenPassword";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  input[type=button] {
    width: 150px;
  }

  .link-small {
    font-size: 11px;
    cursor: pointer;
  }

  .validationLabel {
    color: red;
    width: 150px;
    font-size: 11px;
  }
</style>

<h2>Forgotten Password</h2>
<br />
@using (Html.BeginForm("RequestCredentials", "Authenticate", FormMethod.Post, new { id = "formForgottenPassword" }))
{
  <label for="emailAddress">Email: </label>
  <input id="emailAddress" name="emailAddress" type="text" />
  <input type="button" id="sendEmail" value="Send Password" />
  <br /><br />
  <span class="validationLabel">@Html.DisplayFor(m => Model.ErrorMessage)</span>
  @Html.AntiForgeryToken();
}

@section Scripts{
  <script>

    $("#emailAddress").keyup(function () {
      $(this).removeClass();
    });

    $("#sendEmail").click(function () {

      if (validForm()) {
        $("#formForgottenPassword").submit();
      }
    });

    function validForm() {
      var isValid = true;

      if ($("#emailAddress").val() == "") {
        $("#emailAddress").addClass("alert-danger");
        isValid = false;
      }

      return isValid;
    }

    function validateEmail(email) {
      var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
      return pattern.test(email);
    }
  </script>
}